.chat-window {
  border-radius: 8px;
  text-align: left;
  padding: 1rem;
  flex: 1;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 13px;

  overflow-wrap: anywhere;
  white-space: wrap;
  word-break: wrap;

  position: relative;

  & > p {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.5rem;
    transition: background 0.3s;
    border-radius: 4px;

    display: flex;
    justify-content: space-between;
  }

  .timestamp {
    font-size: 0.8rem;
    color: #888;
    margin-left: 1rem;
    min-width: 80px;
  }
}
