// Header
$header-bg: #161616;
$header-text-color: #fff;

// Footer
$disconnected-footer-bg: #161616;
$connected-footer-bg: #161616;
$footer-height: 50px;

$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

$connected-input-bg: #192e5a;
$connected-body-bg: #091e4d;
$connected-state: rgb(140, 229, 167);
$connected-button-bg: #041436;
$connected-button-hover-bg: rgb(9, 32, 112);

$disconnected-input-bg: #444;
$disconnected-body-bg: #222;
$disconnected-state: rgb(222, 92, 92);
$disconnected-button-bg: #444;
$disconnected-button-hover-bg: #333;
$disconnected-button-disabled-bg: #333;
