@use "variables" as *;
@use "header";
@use "footer";
@use "connection-controls";
@use "chat-window";
@use "chat-settings";
@use "chat-controls";
@use "sidebar";
@use "user-details";

@use "disconnected-state";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}

button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  transition: background 0.2s ease-in-out 0s;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

input:disabled,
textarea:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

textarea,
input {
  outline: none;
}

body {
  text-align: center;
  height: 100vh;

  padding: 1.5rem;
  display: flex;

  main {
    background: #333;
    border-radius: 8px;
    flex: 1;
    padding: 1rem;
  }
}

.chat {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

body.disconnected {
  background: $disconnected-body-bg;
  button {
    background: $disconnected-button-bg;

    &:hover {
      background: $disconnected-button-hover-bg;
    }

    &:disabled {
      background: $disconnected-button-disabled-bg;
    }
  }

  #connection-state {
    color: $disconnected-state;
  }

  .chat {
    .display-name {
      input {
        background: $disconnected-input-bg;
      }
    }
    .chat-window {
      background: $disconnected-input-bg;

      & > p {
        &:hover {
          background: darken($disconnected-input-bg, 10%);
        }
      }
    }
    .chat-controls {
      textarea {
        background: $disconnected-input-bg;
      }
    }
  }
}

body.connected {
  main {
    background: #022a66;
  }
  background: $connected-body-bg;
  button {
    background: $connected-button-bg;

    &:hover {
      background: $connected-button-hover-bg;
    }
  }

  #connection-state {
    color: $connected-state;
  }

  .chat {
    .display-name {
      input {
        background: $connected-input-bg;
      }
    }
    .chat-window {
      background: $connected-input-bg;

      & > p {
        &:hover {
          background: darken($connected-input-bg, 10%);
        }
      }
    }
    .chat-controls {
      textarea {
        background: $connected-input-bg;
      }
    }
  }
}
