@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg-base: #222;

  --color-surface: #f3f4f6;
  --color-text-base: #111111;
  --color-accent: #2563eb;
}

.dark {
  --color-surface: #1e1e1e;
  --color-text-base: #f9fafb;
  --color-accent: #3b82f6;
}

/* * {
  outline: red 1px solid;
} */

html,
body,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-bg-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  padding: 1rem;
}
